@define-color bg    #1a1b26;
@define-color fg    #a9b1d6;
@define-color blk   #32344a;
@define-color red   #f7768e;
@define-color grn   #9ece6a;
@define-color ylw   #e0af68;
@define-color blu   #7aa2f7;
@define-color mag   #ad8ee6;
@define-color cyn   #0db9d7;
@define-color brblk #444b6a;
@define-color white #ffffff;
@define-color grey  #4C4C4C;
@define-color prblk #000000;
@define-color skybl #2980b9;

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 15px;
    font-weight: bold;
    padding: 0 2px;
}

window#waybar {
    background-color: @transparent;
    color: @fg;
}

#workspaces button {
    padding: 0 0px;
    color: @fg;
    /*background: transparent;*/
    /*border-bottom: 3px solid @bg;*/
}
#workspaces button.active {
    color: @cyn;
    /*border-bottom: 1px solid @cyn;*/
    border-top: 1px solid @cyn;
    border-bottom: 1px solid @cyn;
    /*margin: -5px;*/
    /*border-radius: 28px;
    padding: 0 4px;
    background-color: @cyn;*/
    /*border-bottom: 3px solid @cyn;*/
}

#workspaces button.empty {
    color: #4c4c4c;
}

#workspaces button.empty.active {
    color: inherit;
    border-top: 1px solid @inherit;
    border-bottom: 1px solid @inherit;

    /*border-bottom: 1px solid;*/
}

#workspaces button.urgent {
    color: @red;
    padding: 0 4px 0 4px;
    font-size: 16px;
    border: 1px solid @red;
}

#workspaces button:hover {
    background: inherit;
    background-color: transparent;
    opacity: 1;
    border-radius: 4px;
    padding: 0 4px 0 4px;
    border: 1px solid @cyn;

    /*color: @brblk;*/
}

button:hover {
    background: inherit;
    /*box-shadow: inset 0 -3px #ffffff;*/
    background-color: transparent;
    opacity: 0.5;
    color: @brblk;
}
#clock,
#custom-sep,
#battery,
#bluetooth,
#cpu,
#memory,
#disk,
#network,
#custom-power,
#custom-warp,
#mpris,
#tray {
    padding: 0 2px;
}

#bluetooth:hover {
    color: rgba(98, 114, 164, 0.9);
}

#bluetooth.connected {
    color: rgba(170, 255, 127, 0.7);
}

#bluetooth.disconnected {
    color: rgba(255, 85, 85, 0.5);
}

#custom-sep {
    color: @brblk;
    padding: 0 4px;
}

#clock {
    background-color: @skybl;
    color: @white;
    padding: 0 8px;
    /*border-bottom: 4px solid @cyn;*/
}

#battery {
    color: @blu;
    border-bottom: 4px solid @blu;
}

#disk {
    color: @ylw;
    border-bottom: 4px solid @ylw;
}

#memory {
    color: @mag;
    border-bottom: 4px solid @mag;
}

#cpu {
    color: @grn;
    border-bottom: 4px solid @grn;
}

#custom-warp.warp-connected {
    color: @grn;
    border-bottom: 4px solid @grn;
}

#custom-warp.warp-disconnected {
    color: @red;
    border-bottom: 4px solid @red;
}

#custom-tuned {
    transition: all 0.3s ease;
    color: @bg;
}

#custom-tuned.balanced {
    padding-right: 14;
    padding-left: 7;

    background-color: @mag;
}

#custom-tuned.accelerator-performance {
    padding-left: 2.2;
    padding-right: 4.2;

    background-color: @red;

    /*border-bottom: 4px solid @red;*/
}

#custom-tuned.powersave {
    padding-right: 14;
    padding-left: 7;

    background-color: @grn;
}

#mpris {
    font-size: 12px;
    color: @mag;
}

#mpris.playing {
    font-size: 12px;
    color: @grn;
    border-bottom: 1px solid @grn;
}

#mpris.paused {
    font-size: 12px;
    color: @mag;
}

#tray {
    color: #2980b9;
}
